node_modules
jspm_packages
bower_components
.idea
.DS_STORE
*.iml
dist/
Test Results - Test.html
backstop_data/bitmaps_reference
backstop_data/bitmaps_test
npm-debug.log
.tmp
.yo-rc.json
test/cucumber/output
test/webdriverio
src/components/**/*-tpl.js
