<div class="b-js-cat-detail-panel b-component" style="background-color: rgba(111,66,193,0.42); padding: 10px;">
    <h3>Cat detail panel component</h3>

    <div class="b-component--tighter" data-js-el="container">

        <p class="b-title b-title--first" ><span>Name: </span><span data-js-el="name">cute cat</span></p>

        <figure>
            <img src="assets/img/cats/cat2.jpg" data-js-el="src">
        </figure>

        <p class="b-text b-text--font-label">Counter: <span data-js-el="counter">1</span></p>

    </div>

</div>
